<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- 上传图片要配置enctype="multipart/form-data" -->
   <form action="upload/doAdd" method="post" enctype="multipart/form-data">
    <br>
    <input type="text" name="title" id="" placeholder="新闻标题"></input>
    <br>
    <input type="text" name="author" id="" placeholder="新闻作者"></input>
    <br>
    <input type="file" name="file" id="" placeholder="上传"></input>
    <br>
    <input type="submit"></input>
   </form>

</body>
</html>